<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <span class="icon">
        <i class="fas fa-home"></i>
      </span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Življenjepis
      </a>

      <a class="navbar-item">
        Projekti
      </a>

      <a class="navbar-item">
        Umetniška dela
      </a>

    </div>

    <div class="navbar-end">

      <a class="navbar-item" href="https://github.com/nikerzetic">
        <span class="icon">
          <i class="fas fa-brands fa-github"></i>
        </span>
      </a>

      <a class="navbar-item" href="https://www.linkedin.com/in/nik-erzetic-158b7318a/">
        <span class="icon">
          <i class="fas fa-brands fa-linkedin"></i>
        </span>
      </a>

    </div>
  </div>
</nav>