@charset "utf-8";

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// From marmor background (inspired)
$citron: #cec77c;
$french-green: #557645;
$vanilla: #cfd6a2;
$honeydew: #e2edd7;
$wenge: #68534d;
$process-cyan: #01baef;
$pink-lavender: #d0a5c0;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $citron;
$info: $vanilla;
$success: $french-green;
$danger: $process-cyan;
$warning: $process-cyan;
$light: $honeydew;
$dark: $wenge;
$link: $pink-lavender;

$widescreen-enabled: false;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

body {
  background-image: url("https://img.freepik.com/premium-photo/seamless-marble-texture-high-resolution-decoration_563241-1583.jpg");
  background-repeat: repeat;
  background-size: 500px 500px;
}

// Import only what you need from Bulma
@import "../../../bulma/sass/utilities/_all.sass";
@import "../../../bulma/sass/components/card.sass";
@import "../../../bulma/sass/grid/_all.sass";
@import "../../../bulma/sass/elements/other.sass";
@import "../../../bulma/sass/components/navbar.sass";
@import "../../../bulma/sass/elements/icon.sass";
@import "../../../bulma/sass/elements/progress.sass";
@import "../../../bulma/sass/layout/_all.sass";
@import "../../../bulma/sass/helpers/_all.sass";
@import "../../../bulma/sass/elements/button.sass";
@import "../../../bulma/sass/elements/image.sass";

// Bulma extensions
$tooltip-font-size: $size-6;
@import "../../../bulma-tooltip/src/sass/index.sass";

#homepage-hero-columns {
  .column {
    background-color: $primary;
  }
}

// This ensures different behavior for smaller devices than tablet
@media only screen and (max-width: $tablet) {
  #homepage-hero-columns {
    .column {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  #homepage-hero-title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #homepage-hero-subtitle {
    background-color: $primary;
  }
  #homepage-hero-portrait {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#homepage-hero-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

#footer-outside-links {
  .button {
    text-decoration: none;
  }
}

// Remove underline from navbar links
.navbar-item {
  text-decoration: none;
}
